*.pt
OPERA_Data/*
OPERA_splits/*
MTL_which_properties/*
LogP_different_sizes/*
LogP_low_data/*
__pycache__/*
*.csv
*.png
*.jpg
*sandbox*
*.pkl
*.pyc
props2
serenityff*
*.ckpt
*.toml
*hparams.yaml
chemprop_hpopt/*
chemprop_out/*
chemprop_out*/*


